import /etc/caddy/Caddyfile.common

:80 {
	import xdrive_app
}

{$XD_DOMAIN} {
	tls {
		dns alidns {
			access_key_id {env.ALIYUN_ACCESS_KEY_ID}
			access_key_secret {env.ALIYUN_ACCESS_KEY_SECRET}
		}
	}
	import xdrive_app
}
